{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p>Welkom bij je Symfony-app, nu met Twig en Bootstrap!</p>
    </div>
{% endblock %}
